body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    min-width: 100px;
}

#skip-btn{
    position: relative;
    background: transparent;
    width: 100%;
    border: none;
    -webkit-box-align: center;
    align-items: center;
    height: 36px;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 0 6px 0 16px;
    cursor: pointer;
    transition: opacity .5s cubic-bezier(0,0,.2,1);
}